---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import {
    about,
    category1,
    category2,
    category3,
    category4,
    category5,
} from "../images";
import Subscribe from "../components/Subscribe.astro";
import category from "../data/category.json";
import industry from "../data/industry.json";
import InfoCard from "../components/InfoCard.astro";
---

<Layout title="Esco Supplies">
    <section class="overflow-hidden rounded-2xl max-xl:mx-2">
        <div class="relative overflow-hidden bg-[--dark] min-h-[30vh] md:min-h-[50vh]">
            <Image
                src={about}
                alt="about bg"
                class="w-full absolute border-none object-cover"
            />
        </div>
        <div class="flex justify-center text-white bg-[--dark] px-4 py-6">
            <div class="max-container w-full flex justify-between">
                <div
                    class="md:w-2/3 flex items-center gap-3 max-lg:hidden max-xl:w-full"
                >
                    <a href="/EscoSupplies">
                        <span
                            class="material-symbols-outlined pt-2 hover:text-[--gray]"
                        >
                            home
                        </span>
                    </a>
                    <p>/</p>
                    <a class="hover:text-[--gray]" href="/EscoSupplies/brands">
                        Brands</a
                    >
                    <p>/</p>
                    <a
                        class="hover:text-[--gray]"
                        href="/EscoSupplies/lighting"
                    >
                        Lighting</a
                    >
                    <p>/</p>
                    <a
                        class="hover:text-[--gray]"
                        href="/EscoSupplies/ev-chargers"
                    >
                       EV Chargers</a
                    >
                    <p>/</p>
                    <a
                        class="hover:text-[--gray]"
                        href="/EscoSupplies/ptacs"
                    >
                        PTACs</a
                    >
                </div>
                <h2 class="max-xl:text-3xl">About Esco Supplies</h2>
            </div>
        </div>

        <div class="my-8 max-container">
            <div class="rounded-2xl md:w-full p-8 max-sm:p-2 my-8 bg-[--dark]">
                <div class="px-8 py-12 max-sm:px-2">
                    <h2 class="mb-8 text-white">
                        Your energy effeciency partner
                    </h2>
                    <p class="body mb-4 text-white">
                        As a licensed general contractor in WA, OR & ID,
                        Conserve Energy was established with the vision of being
                        the go-to Northwest company that could provide “the
                        complete package” for energy efficiency. Since our start
                        in 2008, we have developed an extensive network of
                        suppliers and partners that help us deliver top-drawer
                        products at reasonable prices.
                    </p>
                    <p class="body mb-4 text-white">
                        Working with our partner companies, Conserve Energy has
                        completed over 10,000 lighting and energy efficiency
                        projects in the commercial and industrial sectors all
                        across the states of Washington, Oregon and Western
                        Idaho.
                    </p>
                    <p class="body mb-4 text-white">
                        We stay focused on meeting customer needs. In-house
                        expertise, along with a strong network of suppliers,
                        subcontractors, and financing partners allows us to
                        specify and deliver leading-edge products at competitive
                        prices. This, coupled with an ability to identify and
                        maximize third-party incentives, creates great value for
                        every client.
                    </p>
                    <p class="body mb-4 text-white">
                        In addition to our technical and product expertise, we
                        work closely with local utilities and utility program
                        management contractors to assure our customers receive
                        maximum incentive dollars.
                    </p>
                    <p class="body mb-4 text-white">
                        Our turnkey solutions start with audits to determine the
                        energy saving potential, and extends into lighting and
                        control design, top quality energy-efficient products,
                        installation, project management, handling of all
                        utility incentive paperwork, financing, and more.
                    </p>
                    <p class="body mb-4 text-white">
                        There is no job too big or too small for us. Our
                        customers range from small mom and pop shops to national
                        corporations with projects from changing a few fixtures
                        to complete retrofits for commercial facilities and
                        high-rise buildings.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Search By Category Section -->

    <!-- <section class="px-2">
        <div class="max-container bg-[--light-gray] p-12 rounded-2xl max-sm:px-4">
            <h3
                class="text-center mb-6 uppercase max-sm:text-2xl max-lg:px-2 text-[--red]"
            >
                Search by category
            </h3>
            <ul
                class="grid gap-8 grid-cols-2 md:grid-cols-3 lg:grid-cols-4 max-sm:grid-cols-1"
            >
                {
                    category.map((card) => (
                        <InfoCard
                            name={card.name}
                            imagePath={card.imagePath}
                            altText={card.altText}
                            extraClasses={card.extraClasses}
                        />
                    ))
                }
            </ul>
        </div>
    </section> -->

    
    <section class="max-container py-12 rounded-2xl max-sm:px-2">
        <h3
            class="text-center mb-6 uppercase max-sm:text-2xl max-lg:px-2 text-[--red]"
        >
            Markets we serve
        </h3>
        <ul
            class="grid gap-8 grid-cols-2 md:grid-cols-3 lg:grid-cols-4 max-sm:grid-cols-1"
        >
            {
                industry.map((card) => (
                    <InfoCard
                        name={card.name}
                        imagePath={card.imagePath}
                        altText={card.altText}
                    />
                ))
            }
        </ul>
    </section>

    <Subscribe />
</Layout>

<style>
    * {
        /* border: 1px solid red; */
    }
</style>
